$c-main: #131CE8;
$def-color: #343434;
$bck-color: #1A92E5;
$white: #ffffff;
$hover-bck: #268ED6;
$hover-text-white: #DBDBDB;
$black-text:#343434;
$other-blck: #1F1F1F;
$bkc-block-fwm:#BDE4FF;
$bck-grey: #F8F8F8;
$grey-text: #868686;
$bck-brown: #2D2D2D;