// @font-face {
//   font-family: "CommonsRegular";
//   src: url("../../fonts/TTCommons-Regular.eot");
//   src:url("../../fonts/TTCommons-Regular.eotiefix") format('embedded-opentype'),
//    url("../../fonts/TTCommons-Regular.woff") format("woff"),
//    url("../../fonts/TTCommons-Regular.ttf") format("truetype");

//   font-style: normal;
//   font-weight: normal;
// }

@font-face {
	font-family: "CommonsRegular";
	src: url("../../fonts/TTCommons-Regular.eot");
	src: url("../../fonts/TTCommons-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/TTCommons-Regular.woff") format("woff"),
			 url("../../fonts/TTCommons-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}