@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/fonts.scss";
@import "loader";

@font-face {
	font-family: "RoadRadio";
	src: url("../fonts/RoadRadio.eot");
	src: url("../fonts/TTCommons-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RoadRadio.woff") format("woff"),
			 url("../fonts/RoadRadio.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*{
  box-sizing: border-box;
}
body {
 
 
  font-family: 'CommonsRegular';
  font-weight: normal;
  font-style: normal;
}
.notscroll {
  overflow: hidden;
}
.container{
  width: 1180px;
  margin: 0 auto;
  @include r(767){
    width: 290px;
    margin: 0 auto;
  }
  @include d(768,1170){
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#header {
  height: 790px;
  background-color: #0E1313;
  background-image: url('../img/header-right.webp');
  background-position: calc(50% + 320px) 0;
  background-repeat: no-repeat;
  background-size: contain;

  @include d(320, 768) {
    background-image: none;
    height: 860px;
    overflow: hidden;
  }

  .header-wrap {
    display: flex;

    @include d(320, 768) {
      flex-direction: column;
      position: relative;
    }

    .left-header {
      padding-top: 50px;
      .logo {
        margin-bottom: 20px;

        @include d(320, 768) {
         margin-bottom: 13px;
        }

        img {
          width: 123px;
          height: 59px;

          @include d(320, 768) {
            width: 113px;
            height: 54px;
          }

        }
      }
      .oc-wrapp {
        display: flex;

        @include d(320, 768) {
          align-items: center;
        }

        .header-emblem {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          border-width: 1px;
          border-radius: 3000px;
          border-color: #ddbe6b;
          border-style: solid;
          .thander {
            width: 14px;
            height: 14px;
          }
        }
        //title online-course
        .header-online-course {
          color: #aaaaaa;
          font-size: 18px;
          font-family: 'RoadRadio',Arial,sans-serif;
          line-height: 1.55;
          font-weight: 600;
          letter-spacing: 1.3px;
          margin-left: 10px;

          @include d(320, 768) {
           font-size: 12px;
          }

        }
      }
      //main title
      .header-main-title {
        width: 250px;
        margin: 0;
        margin-top: 18px;
        padding: 0;
        color: #e9e9e9;
        font-size: 64px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 1px;

        @include d(320, 768) {
         font-size: 42px;
         margin-top: 13px;
        }

      }

      .header-beviner-text-title {
        width: 290px;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        color: #aaaaaa;
        font-size: 16px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.45;
        font-weight: 400;
        
        @include d(320, 768) {
          margin-top: 13px;
          font-size: 12px;
        }

      }

      //btn header enrolment
      .header-btn-enrollment {
        width: 290px;
        height: 60px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: #6ede6a;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .text-in-btn {
          color: #ffffff;
          font-size: 16px;
          font-family: 'RoadRadio',Arial,sans-serif;
          line-height: 1.55;
          font-weight: 600;
          letter-spacing: 1.3px;
          opacity: 0.9;

          @include d(320, 768) {
            font-size: 14px;
          }
          
        }

        &:hover {
          background-color: #2CB560;
        }

        &:active {
          transform: translateY(2px);
        }

      }

      //розыгрыш
      .header-drawing-text {
        padding: 0;
        margin: 0;
        margin-top: 25px;
        color: #4ceb54;
        font-size: 14px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1.4;
        font-weight: 600;
        letter-spacing: 2.9px;

        @include d(320, 768) {
          margin-top: 15px;
          font-size: 10px;
        }

      }

      //призы
      .prizes {
        display: flex;
        margin-top: 35px;

        .phone-wrap {
          .phone-name {
            margin-left: 10px;
            margin-top: 10px;
            width: 90px;
            color: #e9e9e9;
            font-size: 14px;
            font-family: 'RoadRadio',Arial,sans-serif;
            line-height: 1.25;
            font-weight: 400;
            text-align: center;
          }
        }

        .filming-wrap {
          .filming-name {
            margin-left: 25px;
            margin-top: 10px;
            width: 90px;
            color: #e9e9e9;
            font-size: 14px;
            font-family: 'RoadRadio',Arial,sans-serif;
            line-height: 1.25;
            font-weight: 400;
            text-align: center;
          }
        }
       
        .phone, .filming {
          width: 110px;
          height: 78px;
          border-radius: 5px;
          background-color: #4ceb54;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .filming {
          position: relative;        
         

          margin-left: 25px;
          .question {
            position: absolute;
            width: 25px;
            height: 25px;
            top: -15px;
            right: -10px;
            background-image: url('../img/question.svg');
            background: url('../img/question.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 2;
            .q-img {
              width: 100%;
              height: 100%;
              transform: none;
            }
          //блок, который показывается при ховере знака вопроса
          .info-filming {
            display: none;
            width: 170px;
            position: absolute;
            left: 50px;
            top: -30px;
            padding: 10px;            
            background-color: #2D2D2D;
            border-radius: 5px;
            color: #8D8D8D;
            font-family: 'Roboto', sans-serif;

            @include d(320, 768) {
              top: -25px;
              left: -230px;
              font-size: 12px;
            }

          }
            &:hover {
              .info-filming {
                display: block;
              }
            }

          }
          img {
            width: 150px;
            height: 108px;
            position: absolute;
            top: -2%;
            right: -20%;
            transform: rotate(-20deg);
          }   
          
        }

      }
  
    }

    .right-header {
      display: none;
      // width: 1000px;
      // height: 790px;
    
      @include d(320, 768) {
        height: 860px;
        display: block;
        position: absolute;    
        left: 4px;
        right: 10px;
        top: 545px;
        background-image: url('../img/tariff03.webp');
        background-repeat: no-repeat;
        background-size: contain;
        
        
      }

    }
  }
}


//блок - для кого этот курс
#for_who_this_course {
  background: #222221;
  padding-top: 60px;
  padding-bottom: 90px;

  @include d(320, 768) {
    padding-bottom: 30px;
  }

  .fwtc-title {
    text-align: center;
    position: relative;

    .mobile {
      display: none;
    }

    @include d(320, 768) {

      .desctop {
        display: none;
      }

      .mobile {
        display: inline;
      }

    }

    .first_banknote {
      position: absolute;
      top: -155px;
      right: -75px;

      @include d(320, 768) {
        display: none;
      }

    }

  }

  .fwtc-text {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;    
    padding: 0;
    margin: 0;
    text-align: center;
    color: #aaaaaa;
    font-size: 16px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;

    @include d(320, 768) {
      text-align: inherit;
      font-size: 12px;
    }

    .fwtc_text_p {
      width: 440px;

      @include d(320, 768) {
        width: 275px;
      }

    }

  }

  //для кого курс зеленые блоки
  .for_who_blocks {
    display: flex;
    justify-content: space-between;

    @include d(320, 768) {
      flex-direction: row;
      flex-wrap: wrap;
    }


    .for_type_item {
      position: relative;
      width: 260px;
      height: 370px;
      padding-top: 15px;
      border-radius: 12px;
      background-color: #4cc454;

      @include d(320, 768) {
        margin-bottom: 40px;
        width: 140px;
        height: 192px;
      }

     .dollar_banknote {
       position: absolute;
       bottom: -110px;
       left: -165px;

       @include d(320, 768) {
        display: none;
      }

     }

        &:nth-child(1) {
          .item_img_wrap {
           
            @include d(320, 768) {
              top: 40px;
              left: -25px;
            }

            .beginner_blogger {

              @include d(320, 768) {
                width: 153px;
                height: 151px;
              }

            }

          }

        }

        &:nth-child(2) {
          .item_img_wrap {
            top: 90px;
            transform: rotate(-10deg);
            left: -35px;

            @include d(320, 768) {
              top: 40px;
              transform: rotate(-10deg);
              left: -30px;
            }

            .beginner_blogger {

              @include d(320, 768) {
                width: 166px;
                height: 186px;
              }
              
            }

          }       
        } 


        &:nth-child(3) {
          .item_img_wrap {
            top: 117px;
            transform: rotate(-25deg);
            left: -35px;

            @include d(320, 768) {
              width: 153px;
              height: 138px;
              top: 58px;
              left: -5px;
            }

            .beginner_blogger {

              @include d(320, 768) {
                width: 133px;
                height: 118px;
              }
              
            }

          }

        } 

        &:nth-child(4) {
          .item_img_wrap {
            top: 50px;
            left: -125px;
            transform: rotate(-10deg);

            @include d(320, 768) {
              top: 3px;
              left: -85px;
            }

            .beginner_blogger {

              @include d(320, 768) {
                width: 223px;
                height: 218px;
              }
              
            }

          }       
        } 

      .fr_item_title_wrap {
        color: #ffffff;
        font-size: 18px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1.25;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        .fr_item_title {
          width: 200px;

          @include d(320, 768) {
            margin-top: -4px;
            margin-left: 15px;
            font-size: 14px;
            text-align: left;
          }

        }
      }

      .item_img_wrap {
        position: absolute;
        top: 60px;
        left: -40px;
     
       
      }

    }

  }
}

//блок - что такое блогерство
#what_is_blogging {
  background: #222221;
  padding-bottom: 80px;

  @include d(320, 768) { 
    padding-bottom: 40px;       
  }

  .wib_title {
    text-align: center;

    .mobile {
      display: none;
    }

    @include d(320, 768) {

      .desctop {
        display: none;
      }

      .mobile {
        display: inline;
        width: 272px;
      }
      
    }

  }

  //обший wrap для блоков
  .wib_block_wrap {
    display: flex;
    justify-content: space-between;

    @include d(320, 768) { 
      flex-direction: column;
    }

    .wib_item_block {
      margin-top: 60px;   

      @include d(320, 768) { 
        display: flex;        
        align-items: center;
        margin-top: 20px;        
      }

      .wib_wrap_img {
        position: relative;
        width: 100px;
        height: 100px;
        margin-left: 50px;
        border-radius: 3000px;
        background-color: #4cc454;    
        
        @include d(320, 768) { 
          width: 85px;
          height: 75px;   
          margin-left: 0;   
        }

        .wib_img {
          position: absolute;
          top: 7px;
          left: -15px;        

          @include d(320, 768) { 
            top: 10px;
            left: -5px;
            width: 73px;
            height: 61px;   
            margin-left: 0;   
          }

        }

        .lauther_block {
          position: absolute;
          top: -5px;
          left: -20px;
          transform: rotate(-20deg);
          
          @include d(320, 768) { 
            top: -15px;
            left: 60px;            
          }

        }

      }

      //для 4-го блока смеющееся смайл
      &:nth-child(4) {
        
        .wib_img {

          @include d(320, 768) { 
            top: 7px;
            left: -5px;
            width: 90px;
            height: 61px;
          }

        }

        .lauther_block {
          left: 100px;
          top: -20px;
          transform: rotate(25deg);

          @include d(320, 768) { 
            top: 60px;
            left: 160px;            
          }

          .smile_in_blogging {
            @include d(320, 768) { 
              width: 38px;
              height: 38px;
            }
          }

        }        
      }

      &:nth-child(2) {

        .wib_img {
          top: -25px;
          left: -20px;

          @include d(320, 768) { 
            top: -15px;
            left: -15px;
            width: 99px;
            height: 98px;   
            margin-left: 0;   
          }

        }        
      }

      &:nth-child(3) {

        .wib_img {
          top: 0;
          left: -20px;

          @include d(320, 768) { 
            top: 3px;
            left: -20px;
            width: 110px;
            height: 63px;
          }

        }

      }

      .wib_descr {
        width: 210px;
        margin-top: 15px;
        text-align: center;
        color: #aaaaaa;
        font-size: 14px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.4;
        font-weight: 400;
        letter-spacing: 0.2px;

        @include d(320, 768) { 
          margin-left: 30px;
          text-align: left;
        }

      }

    }

  }

}

// блок = авторы
#authors {
  background: #222221;
  padding-bottom: 80px;

  @include d(320, 768) { 
    padding-bottom: 30px;  
    overflow: hidden;     
  }

  .authors_common_wrap {
    display: flex;

    @include d(320, 768) { 
      flex-direction: column;       
    }

    .authors_left {

      .authors_pre_title {
        color: #aaaaaa;
        font-size: 18px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1.25;
        font-weight: 300;
        letter-spacing: 1px;
      }

      .auth_title_img {

        @include d(320, 768) { 
          width: 287px;
          height: 72px;     
        }

      }

      .ractangle_info_wrap {
        display: flex;
        margin-top: 15px;

        @include d(320, 768) { 
          flex-direction: column;       
        }

        .ractangle_left {
          
          .ractangle_left_up_block_wrap {
              display: flex;
              justify-content: space-between;

              @include d(320, 768) { 
                width: 280px;   
              }

              .ractangle_block {
                width: 135px;
                height: 32px;
                background: #2D2D2D;
                border-radius: 100px;
                color: #aaaaaa;
                font-size: 14px;
                font-family: 'RoadRadio',Arial,sans-serif;
                line-height: 1.25;
                font-weight: 600;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:last-of-type {
                  margin-left: 30px;
                }

                .dog_insta_symbol {
                  color: rgb(115, 110, 233);
                }

              }

          }

          //нижний левый блок(где инста и прочие соц сети)
          .ractangle_left_bottom_block {
            margin-top: 15px;
            height: 223px;
            width: 290px;
            padding: 20px;
            border-radius: 12px;
            background-color: #2d2d2d;

            @include d(320, 768) { 
              width: 280px;
              height: 200px;
              padding: 13px;    
            }

            .bb_wrap {
              margin-bottom: 20px;

              @include d(320, 768) { 
                margin-bottom: 10px;  
              }

              .rlb_title {
                margin: 0;
                padding: 0;
                margin-top: 10px;
                color: #ffffff;
                font-size: 14px;
                font-family: 'RoadRadio',Arial,sans-serif;
                line-height: 1.25;
                font-weight: 400;
                letter-spacing: 1px;
              }

              .rlb_descr {
                margin: 0;
                padding: 0;
                margin-top: 7px;
                color: #aaaaaa;
                font-size: 12px;
                font-family: 'RoadRadio',Arial,sans-serif;
                line-height: 1.25;
                font-weight: 400;
                letter-spacing: 1px;
              }              

            }

          }

        }

        .ractangle_right {
          width: 280px;          
          margin-left: 30px;
          border-radius: 12px;
          background-color: #2D2D2D;
          padding: 20px;

          @include d(320, 768) { 
            margin-top: 20px;
            margin-left: 0;    
          }

          .rr_block {
            margin-bottom: 15px;
            .rr_title {
              padding: 0;
              margin: 0;
              color: #4cc454;
              font-size: 16px;
              font-family: 'RoadRadio',Arial,sans-serif;
              line-height: 1.25;
              font-weight: 400;
              letter-spacing: 1px;
            }

            .rr_description {
              margin-top: 7px;
              color: #aaaaaa;
              font-size: 12px;
              font-family: 'Roboto',Arial,sans-serif;
              line-height: 1.25;
              font-weight: 300;
              letter-spacing: 1px;
            }

          }

        }

      }

    }

    .authors_right {
      position: relative;

      @include d(320, 768) { 
        width: 300px;
        height: 380px;   
        // overflow: hidden; 
      }
      
      .ar_authors {

        @include d(320, 768) { 
          position: absolute;  
          width: 380px;
          // height: 420px;
          top: 15px;
          left: -55px; //-80
        }

      }

      .left_seka_master {
        position: absolute;
        top: 60px;
        left: 25px;
        transform: rotate(120deg);

        @include d(320, 768) { 
          top: 45px;
          left: -40px; 
          transform: rotate(125deg);
        }

      }

      .left_seka_panda {    
        position: absolute;
        top: 10px;
        right: 25px;
        transform: rotate(30deg);

        @include d(320, 768) { 
         right: 15px;
        }

        .lsp_img {
          width: 60px;
          height: 80px;
        }
      }

    }

  }

}

// блок - как проходит обучение
#how_pass_education {
  height: 870px;
  background: #222221;
  padding-bottom: 80px;

  @include d(320, 768) {
    height: 1270px;
    padding-top: 30px;
    overflow: hidden;
  }

  .hpe_title {
    text-align: center;

    .mobile {
      display: none;
    }

    @include d(320, 768) {
      text-align: left;

      .desctop {
        display: none;
      }

      .mobile {
        display: inline;
        width: 291px;
      }

    }

  }

  .hpe_text {
    color: #aaaaaa;
    font-size: 16px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
    text-align: center;

    @include d(320, 768) {
      display: none;
    }

  }

  .hpe_main_wrap {
    position: relative;

    @include d(320, 768) {
      display: flex;
      position: static;
      flex-direction: column;
    }

    // 2 первых верхних блока
    .two_up_block_wrap {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      z-index: 2;
      position: relative;

      @include d(320, 768) {
       flex-direction: column;
       margin-top: 30px;
      }

      .item_block {
        display: flex;   

        &:nth-child(1) {

          .ib_img {
            margin-left: -25px;
          }

          .ib_text {
            width: 160px;       
          }

        }
        
        &:nth-child(2) {

          .ib_text {
            margin-top: 30px;   
            margin-left: 7px;     
          }

          .ib_img {
            margin-left: -5px;
          }

        }

        &:nth-child(2) {
         
            position: absolute;
            right: 10px;
            top: 30px;

            @include d(320, 768) {
              position: static;
             }
         
        }

        .ib_text {
          width: 180px;
          margin-top: 10px;
          color: #aaaaaa;
          font-size: 14px;
          font-family: 'Roboto',Arial,sans-serif;
          line-height: 1.4;
          font-weight: 300;
          letter-spacing: 0.2px;
        }

      }

    }

    // большой  блок посередине
    .big_middle_block {
      
      text-align: center;
      display: flex;
      justify-content: center;
      z-index: 3;
      margin-top: -130px;

      @include d(320, 768) {
        margin-top: 0;
        // overflow: hidden;
       }

       .bmb_img {

        @include d(320, 768) {
          width: 526px;
          height: 394px;
         }

       }

    }

    // 4 нижних блока
    .four_bottom_wrap {
      display: flex;
      justify-content: space-between;
      position: relative;
      
      @include d(320, 768) {
        flex-direction: column;
       }

      .fb_item_block {

        @include d(320, 768) {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          margin-top: 20px;
         }

        &:nth-child(1) {
          position: absolute;
          top: -60px;
          left: 0px;
          
          @include d(320, 768) {
            position: static;
          }

          .fb_descr{
            width: 150px;
            margin-left: 45px;
            text-align: left;

          }

        }

        &:nth-child(2) {         
          position: absolute;
          top: 15px;
          left: 330px;

          @include d(320, 768) {
            position: static;
          }

          .fb_descr{
            position: absolute;
            top: 118px;
            left: -20px;

            @include d(320, 768) {
              position: static;
              width: 180px;
              text-align: left;
              margin-left: 45px;
            }

          }

        }

        &:nth-child(3) {         
          position: absolute;
          top: 40px;
          right: 370px;  

          @include d(320, 768) {
            position: static;
          }
          
          .fb_descr{
            position: absolute;
            top: 90px;
            left: -35px;

            @include d(320, 768) {
              width: 180px;
              position: static;
              text-align: left;             
              margin-left: 45px;
            }

          }

        }

        
        &:nth-child(4) {         
          position: absolute;
          top: -100px;
          right: 20px;    

          @include d(320, 768) {
            position: relative;
          }

          .fb_descr{
            position: absolute;
            top: 107px;
            left: 10px;

            @include d(320, 768) {
              position: absolute;
              top: 120px;
              left: 115px;
              width: 160px;
              text-align: left;
              margin-left: 20px;
            }

          }

        }

        &:nth-child(1) {
          .fb_img {
            transform: rotate(20deg);

            @include d(320, 768) {
              margin-left: -15px;
             }

            .yellow_panda {

              @include d(320, 768) {
                width: 90px;
                height: 100px;
               }

            }

          }  
        }

        &:nth-child(2) {
          .fb_img {
            transform: rotate(-20deg);

            @include d(320, 768) {
              margin-left: 0;
              margin-left: -15px;
            }

            .list_panda {

              @include d(320, 768) {
                width: 93px;
                height: 100px;
               }

            }

          }  

        }

        &:nth-child(3) {

          .fb_img {
            transform: rotate(30deg);

            @include d(320, 768) {
              margin-left: 0;
              transform: rotate(15deg);
             }

            .timer_panda {

              @include d(320, 768) {
                width: 76px;
                height: 95px;
               }

            }

          }

        }

        &:nth-child(4) {
          
          .fb_img {            

            @include d(320, 768) {
              margin-left: 0;
              position: absolute;
              top: 60px;
              left: -15px;
              transform: rotate(20deg);
             }     

          }

        }

        .fb_img {
          margin-left: 30px;
        }

        .fb_descr {
          width: 210px;
          color: #aaaaaa;
          font-size: 14px;
          font-family: 'Roboto',Arial,sans-serif;
          line-height: 1.4;
          font-weight: 300;
          letter-spacing: 0.2px;
          text-align: center;
        }

      }

    }


  }

}

//блок - план курса
#course_plan {
  background: #222221;
  padding-top: 90px;

  @include d(320, 768) {
    padding-top: 30px;
    overflow: hidden;
  }

  .cp_common_wrap {
    display: flex;
    margin-top: 40px;
    padding-bottom: 50px;

    @include d(320, 768) {
      flex-direction: column;
    }

    //левая сторона блока, где картинка
    .cp_left {
      position: relative;
      
      @include d(320, 768) {
       margin-bottom: 25px;
      //  overflow: hidden;
      }

      .cp_wrap_img {
        width: 390px;
        height: 390px;
        border-radius: 1200px;
        background-color: #2d2d2d;

        @include d(320, 768) {
          width: 290px;
          height: 290px;
        }

        .cp_img {
          position: absolute;
          top: -80px;
          left: -210px;

          @include d(320, 768) {
            width: 520px;
            height: 410px;
            top: -65px;
            left: -115px;
          }

        }

      }    

    }

     //правая сторона блока, где описание(2 блока  еще справа)
     .cp_right {
       display: flex;
       position: relative;
       margin-left: 70px;
       border-bottom: 1px dashed #4B4B4B;

       @include d(320, 768) {
        flex-direction: column;
        margin-left: 0;
      }

       .cp_r_begin {

          .cp_r_b_title {
            margin: 0;
            padding: 0;
            color: #ffffff;
            font-size: 36px;
            font-family: 'RoadRadio',Arial,sans-serif;
            line-height: 1.25;
            font-weight: 400;
            letter-spacing: 1px;
          }

          .cp_r_b_content {
            color: #606060;
            font-size: 12px;
            font-family: 'Arial',Arial,sans-serif;
            line-height: 1.25;
            font-weight: 700;
            letter-spacing: 2.6px;
          }

          .cp_r_b_list {
            color: #aaaaaa;
            font-size: 14px;
            font-family: 'Roboto',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 300;
          }

          .cp_r_b_bonus {
            margin-top: 30px;
            color: #606060;
            font-size: 12px;
            font-family: 'Arial',Arial,sans-serif;
            line-height: 1.25;
            font-weight: 700;
            letter-spacing: 2.6px;
          }

          .bonus_wrap {
            display: flex;

            @include d(320, 768) {
              flex-wrap: wrap;
            }

            .bonus_item {

              @include d(320, 768) {
                margin-bottom: 25px;
              }

              &:nth-child(1) {               

                .bonus_img_wrap {

                  .l2 {
                    transform: rotate(13deg);
                    top: -2px;
                    left: 7px;
                  }

                  .l3 {
                    transform: rotate(-10deg);
                    top: 15px;
                    left: -65px;
                  }

                }
                
              }

              &:nth-child(2) {
                margin-left: 30px;     
                .bonus_img_wrap {
                  
                  .biw_img {
                    top: 5px;
                    left: -20px;
                  }

                  .l2 {
                    transform: rotate(15deg);
                    top: -40px;
                    left: -20px;
                  } 

                } 

              }

              &:nth-child(3) {
                margin-left: 30px;

                @include d(320, 768) {
                  margin-left: 0;
                }

                .bonus_img_wrap {

                  .l2 {
                    transform: rotate(2deg);
                    top: 6px;
                    left: -10px;
                  }

                }

              }

              .bonus_img_wrap {
                width: 100px;
                height: 100px;
                position: relative;
                border-radius: 100px;
                background-color: #4cc454;

                .biw_img {
                  position: absolute;
                  top: 8px;
                  left: -10px;
                  transform: rotate(-20deg);
                }

              }

              .bonus_text {
                max-width: 130px;
                margin-top: 15px;
                color: #aaaaaa;
                font-size: 12px;
                font-family: 'Roboto',Arial,sans-serif;
                line-height: 1.25;
                font-weight: 500;
              }

            }

          }

       }

       .cp_r_end {
        margin-left: 70px;

        @include d(320, 768) {
          margin-left: 0;
        }

        .cp_r_e_title {
          color: #606060;
          font-size: 12px;
          font-family: 'Arial',Arial,sans-serif;
          line-height: 1.25;
          font-weight: 700;
          letter-spacing: 2.6px;
        }
        
        .cp_r_e_text {
          max-width: 240px;
          color: #aaaaaa;
          font-size: 16px;
          font-family: 'Arial',Arial,sans-serif;
          line-height: 1.55;
          font-weight: 500;
        }

       }

       .cpre_l2 {
        position: absolute;
        top: 0;
        right: -160px;

        @include d(320, 768) {
          position: static;
        }

       }

     }

  }

}

//блок - тарифы
#tariff {
  background: #222221;
  padding-top: 90px;
  padding-bottom: 70px;

  @include d(320, 768) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tariff_title {
    text-align: center;
  }

  .tariff_text_wrap{
    display: flex;
    justify-content: center;
    margin-top: 15px;

    @include d(320, 768) {
     flex-direction: column;
    }

    .tariff_text {
      margin: 0;
      padding: 0;
      width: 320px;
      color: #aaaaaa;
      font-size: 16px;
      font-family: 'Roboto',Arial,sans-serif;
      line-height: 1.55;
      font-weight: 300;
      text-align: center;

      @include d(320, 768) {
        width: 280px;
       }

    }

  }

  .tariff_common_wrap {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

    @include d(320, 768) {
      flex-direction: column;
    }

    .t_c_block {
      width: 360px;
      height: 658px;      
      background-image: url('../img/tariff_background.svg');
      background-repeat: no-repeat;
      background-size: cover;

      @include d(320, 768) {
        width: 290px;
        background-position: bottom;
        margin-bottom: 40px;
      }

      &:nth-child(2) {
        position: relative;
      }

      &:last-of-type {
        position: relative;

        .t_c_b_price{
          max-width: 240px;
          margin-left: 60px;

          @include d(320, 768) {
            margin-left: 25px;
          }

        }

        .t_c_b_descr {
          width: 220px;
          text-align: center;
          margin-left: 65px;
          z-index: 2;
          position: absolute;
          bottom: 105px;

          @include d(320, 768) {
            margin-left: 30px;
          }

        }

        .t_c_b_img_wrap {
          margin-left: -10px;
          margin-top: -105px;

          @include d(320, 768) {
            margin-left: -50px;
            height: 560px;
          }

        }

        .t_c_b_btn {
          z-index: 2;
          position: absolute;
          bottom: 30px;
        }

      }

      .profitable_tariff {
        position: absolute;
        top: -22px;
        left: 70px;
        width: 241px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: #e02632;  

        @include d(320, 768) {
          left: 25px;
        }

        .pt_text {
          color: #ffffff;
          font-size: 20px;
          font-family: 'RoadRadio',Arial,sans-serif;
          line-height: 1;
          font-weight: 600;
          letter-spacing: 1.2px;
        }

      }

      .t_c_b_pre_title {
        text-align: center;
        max-width: 200px;
        margin-left: 90px;
        margin-top: 20px;
        color: #2d2d2d;
        font-size: 18px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        letter-spacing: 10px;

        @include d(320, 768) {
          margin-left: 50px;
        }

      }

      .t_c_b_title {
        margin-left: 120px;
        margin-top: 25px;
        color: #ffffff;
        font-size: 24px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 1.2px;

        @include d(320, 768) {
          margin-left: 80px;
        }

      }

      .t_c_b_price {
        max-width: 200px;
        margin-left: 85px;
        margin-top: 20px;
        color: #4ceb54;
        font-size: 24px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-align: center;  
        
        @include d(320, 768) {
          margin-left: 45px;
        }
            
      }

      .t_c_b_img_wrap {
        height: 360px;
        margin-left: -100px;
        margin-top: -20px;
        position: relative;
        pointer-events: none;

        @include d(320, 768) {
          overflow: hidden;
          margin-left: -130px;
        }
            
        
        .main_img {
          top: 38px;
          transform: rotate(12deg);
          left: 35px;
          position: absolute;
          z-index: 2;
        }

        .img2 {
          position: absolute;
          top: 0;
          left: 100px;
          z-index: 1;
          transform: rotate(30deg);          
        }

        .img3 {
          position: absolute;
          top: 7px;
          left: -35px;
          z-index: 1;
          transform: rotate(0deg); 
        }

      }

      .t_c_b_descr {
        margin-left: 90px;
        margin-top: 0px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 1.2px;

        @include d(320, 768) {
          margin-left: 65px;
        }

        .attention_text {
          color: #cc3d3d;
          font-size: 14px;
          font-family: 'RoadRadio',Arial,sans-serif;
          line-height: 1;
          font-weight: 600;
          letter-spacing: 1.2px;
        }

      }

      .t_c_b_btn {
        width: 290px;
        height: 60px;
        margin-left: 35px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #6ede6a;
        cursor: pointer;

        @include d(320, 768) {
          margin-left: 15px;
          width: 260px;
        }

        &:hover {
          background-color: #2cb560
        }

        &:active {
          transform: translateY(2px);
        }

       .choose_tariff {
        color: #f8f2e1;
        font-size: 14px;
        font-family: 'RoadRadio',Arial,sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 2.1px;
       }

      }
      
    }

  }

}

//блок - футер
#footer {
  background: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  
  .footer_wrap {
    display: flex;
    justify-content: space-between;

    @include d(320, 768) {
      flex-direction: column;
    }

    .f_w_block {

      &:nth-child(3) {
        text-align: end;

        @include d(320, 768) {
          text-align: left;
        }

      }


      @include d(320, 768) {
        &:nth-child(2) {
          order: 3;
        }
      }  

      .f_w_b_img_wrap {

        .f_w_b_img {
          width: 123px;
          height: 59px;
        }

      }

      .l_text {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Arial',Arial,sans-serif;
        line-height: 1.65;
        font-weight: 400;
        letter-spacing: 1px;
        opacity: 0.7;
        cursor: pointer;  
      }

      .middle {

        &:nth-child(2) {
          margin-left: -10px;

          @include d(320, 768) {
            margin-left: 0;
          }

        }

        &:nth-child(3) {
          margin-top: 30px;
          margin-left: -20px;

          @include d(320, 768) {
            margin-left: 0;
          }

        }

      }

    }

  }

}


//modal
.modal__wrapper{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(146, 146, 146, 0.5);
  z-index: 20;
  overflow-x: hidden;
  overflow-y: auto;

  &.loader{

    .lds-dual-ring{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .modal__dialog{
    display: flex;
    align-items: center;
    transform: translate(0,0);
    max-width: 470px;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    min-height: calc(100% - (1.75rem * 2));

    .modal__content{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background: #FFFFFF;
      box-shadow: 0 0 10px rgba(53, 53, 53, 0.15);
      border-radius: 15px;
      outline: 0;
      padding: 35px;
      //second modal
      .done {
        display: none;        
      }
      .done-telegaimg {
        margin-top: 1px;
        text-align: center;
        margin-bottom: 60px;
        @include r(767){
          margin-top: 25px;
          margin-bottom: 40px;
        }
        img {
          @include r(767){
            width: 190px;
            height: 112px;
          }
        }
      }
      .thanks-title {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: $black-text;
        text-align: center;
        @include r(767){
          font-size: 18px;
          line-height: 21px;
          text-align: left;
        }
      }
      .thanks-text {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: $black-text;
        @include r(767){
          font-size: 16px;
          line-height: 28px;
          text-align: center;
        }
      }
      .done-btn {
        margin-top: 40px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $bck-color;
        border-radius: 5px;
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        color: $white;
        @include r(767){
          margin-top: 25px;
        }
        cursor: pointer;
        &:hover {
          background-color: #227db1;
        }
        &:active {
          transform: translateY(5px);
        }
      }
      //second modal end
      @include r(767){
        width: calc(90% - 30px);
        margin: 0 auto;
        padding: 25px 20px;
      }  
      .icon.close{
        display: flex;
        width: 14px;
        position: absolute;
        top: 26px;
        right: 26px;
        cursor: pointer;
        z-index: 1;

        img{
          width: 100%;
        }
      }

      .modal__header{
        position: relative;

        .modal__title{
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: $black-text;
          margin-bottom: 25px;
          .mod-title {
            margin: 0;
            font-weight: 600;
          }
          span {
            font-size: 18px;
          }
          @include r(767){
            font-size: 18px;
            line-height: 22px;
          }
        }
      }

      .modal__body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .form-item{
          width: 100%; //calc(50% - 15px)
          position: relative;
          margin-bottom: 20px;

          &:last-child{
            margin-bottom: 0;
          }

          &:nth-child(2n + 1){
            margin-right: auto;

            @include r(767){
              margin-right: unset;
            }
          }

          @include r(767){
            width: 100% !important;
          }

          &.error{

            .form-input{
              border: 1px solid #FF2D1C;
            }

            .error-message{
              padding: 13px 17px 0 17px;
              font-size: 16px;
              line-height: 19px;
              color: #FF2D1C;

              @include r(767){
                font-size: 14px;
                line-height: 17px;
              }
            }
          }

          @include r(767){
            margin-bottom: 12px;
          }

          .form-input,
          .form-select{
            width: 100%;
            background: none;
            border: 1px solid #8087A1;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 13px 17px;
            outline: none;
            z-index: 1;

            &.is__valid{

              ~.form-label{
                top: -5px;
                padding-right: 3px;
                padding-left: 3px;
                font-size: 12px;
                line-height: 15px;
                color: #8087A1;
              }
            }

          }

          .form-label{
            position: absolute;
            top: 15px;
            left: 17px;
            font-size: 16px;
            color: #283043;
            background: #fff;
            pointer-events: none;
            z-index: 0;
            @include transite(all);

            @include r(767){
              font-size: 14px;
            }

            span{
              color: #F31010;
            }
          }

          .btn__forgot-pass{
            position: absolute;
            display: inline-block;
            padding: 5px 10px;
            background: #F2F2F2;
            border-radius: 4px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
            text-decoration-line: underline;
            color: #5A5F72;
            top: 10px;
            right: 15px;
            @include transite(all);

            &:hover{
              background: #DCDCDC;
            }

            &:active{
              background: #EAEAEA;
            }
          }
        }
      }

      .alert{
        font-size: 14px;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 0;

        .icon.close{
          top: 15px;
          right: 15px;
          width: 10px;
        }
      }

      .modal__footer{
        display: flex;

        button{
          width: 100%;
          background: $bck-color;
          border-radius: 5px;
          font-weight: 600;
          font-size: 16px;
          line-height: 25px;
          color: #FFFFFF;
          padding-top: 12px;
          padding-bottom: 12px;
          border: 0;
          margin-top: 20px;
          outline: none;
          cursor: pointer;
          letter-spacing: 1px;
          @include transite(all);

          &:hover{
            background:#227DB1; //#268ED6
          }

          &:active{
            transform: translateY(5px);        
          }
        }
      }
    }
  }
}
